ul li:before{
	padding-right: 0;
	padding-left: 0.35em;
	display: inline-block;
}
ul li li{
	padding-left: 0;
	padding-right: 1.3em;
}

div.wpcf7{
	direction: rtl;
}
.wpcf7 input[type="submit"] {
    float: left;
}
table > *:first-child tr:first-child>*:first-child{
	border-top-right-radius: 14px;
	border-top-left-radius: 0;
}
table > *:first-child tr:first-child>*:last-child{
	border-top-left-radius: 14px;
	border-top-right-radius: 0;
}
table > *:last-child tr:last-child>*:first-child{
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 0;
}
table > *:last-child tr:last-child>*:last-child{
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 0;
}
table th, 
table td{
    border-right: 1px solid #d8d8d8;
    border-left: 0;
}
table tr>*:first-child{
	border-right: 1px solid #d1d1d1;
	border-left: 0;
}
table tr>*:last-child{
	border-left: 1px solid #d1d1d1;
}
table thead th:last-child{
	border-right: 1px solid;
	border-left: 0;
}
table thead th:first-child{
	border-right: 0;
}
.select2-container .select2-selection .select2-selection__arrow,
.select2-container .select2-choice .select2-arrow {
    border-left: 0;
    border-right-width: 1px;
    border-right-style: solid;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
    text-align: right;
}

header .container {
    flex-direction: row-reverse;
}

.right_alight{
	text-align: left;
}

.page_content>.container>*{
	direction: rtl;
}
.widget_title_icon_section{
	padding-right: 0;
	padding-left: 0.2em;
}
.owl-carousel {
    direction: rtl
}

.owl-carousel .owl-item{
    float: right
}
.cws_progress_bar .progress{
	left: auto;
	right: 0;
}
.carousel_nav_panel .prev:before {
	content: "\f054"; 
}
.carousel_nav_panel .next:before {
   content: "\f053"; 
}
.cws_tweet .follow_us,
.post_item .post_thumb_wrapp{
	float: right;
	margin-right: 0;
	margin-left: 8px;
}
.copyrights_panel{
	direction: ltr;
}
.header_nav_part.mobile_nav .main-nav-container .sub-menu .menu-item>a, 
.header_nav_part.mobile_nav .main-nav-container .menu-item>a{
	text-align: start;
}
.main-nav-container .button_open:before{
	content: "\f104";
}
.main-nav-container .sub-menu .menu-item{
	padding-right: 0;
}
.main-nav-container .sub-menu{
	-webkit-transform: translateX(99999px);
	-moz-transform: translateX(99999px);
	-ms-transform: translateX(99999px);
	transform: translateX(99999px);
}
.main-menu>.menu-item.right>.sub-menu{
	right: auto;
	left: 0;
}
.main-menu>.menu-item.right .sub-menu .menu-item>.sub-menu{
	right: auto;
	left: 100%;
}
.main-menu>.menu-item.right .sub-menu .sub-menu {
    margin-right: 0;
    margin-left: 3px;
}



.main-nav-container .menu-item>a>.canvas_wrapper canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.main-nav-container .main-menu>.menu-item:first-child>a>.canvas_wrapper canvas{
	left: auto;
    right: 0;
}
.main-nav-container .main-menu>.menu-item:last-child>a>.canvas_wrapper canvas{
	left: 0;
	right: auto;
}
.main-nav-container .main-menu:not(.menu-bees)>.menu-item:first-child>a{
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.main-nav-container .main-menu:not(.menu-bees)>.menu-item:last-child>a{
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.main-menu:not(.menu-bees)>.menu-item>a:after{
	left: auto;
	right: 0;
}
.header_nav_part:not(.mobile_nav) .main-nav-container .menu-item.bees-start{
	margin-left: 0;
	margin-right: 55px;
}
.header_nav_part:not(.mobile_nav) .main-nav-container .menu-item.bees-end{
	margin-left: 55px;
	margin-right: 0;
}
.main-nav-container .menu-item.bees-start>a{
	margin-left: 0;
	margin-right: 30px;
}
.main-nav-container .menu-item.bees-end>a{
	margin-left: 30px;
	margin-right: 0;
}
.main-menu .bees{
	left: auto;
	right: 0;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}
.main-menu>.menu-item:last-child>a:after{
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);	
}
.main-menu>.menu-item:first-child>a:after{
	background: transparent;
}
.main-nav-container .main-menu.menu-bees>.menu-item:first-child>a>.canvas_wrapper canvas{
	right: -22px;
}
.main-nav-container .main-menu.menu-bees>.menu-item:first-child>a>.canvas_wrapper{
	right: -22px;
}
.main-menu .bees.bees-end{
    right: auto;
    left: 0;
}
.main-nav-container .main-menu.menu-bees>.menu-item:last-child>a>.canvas_wrapper{
	right: 0;
	left: -22px;
}
.main-nav-container .main-menu.menu-bees>.menu-item:last-child>a>.canvas_wrapper canvas{
	right: 0px;
}
.mini-cart .woo_mini_cart{
	right: auto;
	left: 0;
}

.cws_callout .callout_title .bees.bees-end>span {
    -webkit-transform: rotateY(360deg) translateX(125%);
    -moz-transform: rotateY(360deg) translateX(125%);
    -ms-transform: rotateY(360deg) translateX(125%);
    transform: rotateY(360deg) translateX(125%);
}

.site_top_panel #top_panel_links .search_icon,
#top_social_links_wrapper{
	margin-right: 0;
	margin-left: 5px;
}
.site_top_panel #top_panel_links {
    padding: 4px 10px 4px 0;
}
.mini-cart{
	margin-left: 0;
}
.pagination .page_links>*{
	float: right;
	margin-left: 1px;
	margin-right: 0;
}
.pagination .page_links>.page-numbers.current {
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
    width: 2.042em;
    line-height: 2.05em;
    color: #fff;
    position: relative;
    z-index: 2;
    background: transparent;
}
.pagination .page_links>.page-numbers.current:after{
    left: 0;
    right: 2px;
}
.pagination .page_links>*:last-child{
	border-radius: 10px 0 0  10px;
}
.pagination .page_links>.page-numbers.current:last-child:after{
	left: 2px;
    right: 0;
}
.pagination .page_links>*:first-child{
	border-radius: 0 10px 10px 0;
}
.cws-widget .parent_archive .widget_archive_opener, 
.cws-widget .has_children .opener {
    right: auto;
    left: 0;
}
.cws-widget .parent_archive .widget_archive_opener:before, 
.cws-widget .has_children .opener:before{
	content: "\f104";
}
.cws-widget ul.children, 
.cws-widget ul.sub-menu {
    margin-right: 20px;
    margin-left: 0;
}
.accordion_title {
    padding: 7px 50px 7px 7px ;
}
.accordion_title .accordion_icon {
    left: auto;
    right: 4px;   
}
.tabs .tab:first-child{
	-webkit-border-radius: 0 13px 0 0;
    -moz-border-radius: 0 13px 0 0;
    border-radius: 0 13px 0 0;
}
.tabs .tab:last-child {
    -webkit-border-radius: 13px 0 0;
    -moz-border-radius: 13px 0 0;
    border-radius: 13px 0 0;
}
.tab_items {
    -webkit-border-radius: 13px 0 13px 13px;
    -moz-border-radius: 13px 0 13px 13px;
    border-radius: 13px 0 13px 13px;
}
.tabs .tab{
	margin-right: 0;
	margin-left: 1px;
}
.ce_tabs.vertical .tabs .tab:last-child {
    -webkit-border-radius: 0 0 13px 0;
    -moz-border-radius: 0 0 13px 0;
    border-radius: 0 0 13px 0;
}
.ce_tabs.vertical .tab_items {
    -webkit-border-radius: 13px 0 0 13px;
    -moz-border-radius: 13px 0 0 13px;
    border-radius: 13px 0 0 13px;
}
.ce_tabs.vertical .tab{
	margin-left: 0;
	margin-right: 1px;
}
.cws_msg_box .icon_section, 
.wpcf7-response-output:after{
    left: auto;
    right: 0;
}
.cws_msg_box, div.wpcf7-response-output {
    padding: 10px 80px 10px 20px;
}
.cws_msg_box.closable .cls_btn {
    right: auto;
    left: 10px;
}
.grid_col:not(.grid_col_12){
	float: right;
}
.grid_col + .grid_col{
	margin-left: auto;
	margin-right: 2.5%;
}
.news .grid .item.medium>*,
.news .grid .item.small>*,
.news.single .grid .item>*,
.news .grid .item.medium .separator-box .separator,
.news .grid .item.small .separator-box .separator,
.news.single .grid .item .separator-box .separator{
	margin-left: 30px;
	margin-right: auto; 
}
.item .date{
	margin-right: -1px;
	margin-left: 15px;
}
.news .post_tags>i, .news .post_categories>i{
	margin-right: auto;
	margin-left: 5px;
}
.news .media_part{
	float: right;
	margin-right: auto;
}
.news .grid .item>.media_info_wrapper{
	margin-left: 0 !important;
}
.news .grid .item.medium .media_part,
.news .grid .item.small .media_part,
.news.single .grid .item .media_part{
	margin-left: 30px;
}
.news.single .item{
	margin-left: 0;
}
.grid .item{
	margin-left: 30px;
	margin-right: auto;
}
.grid{
	margin-left: -30px;
	margin-right: auto;
}
.news .media_info_wrapper{
	margin-left: 0;
}
.post_info{
	/* padding-left: 30px;
	padding-right: 0;
	max-width: 100%; */
}
.item .date.no_media{
	margin-right: 0;
	margin-left: 20px;
}
.post_info_top .comments_link{
	float: left;
}
.post_info_top.no_media .post_info_header{
	text-align: right;
}
.post_info_top.no_media .post_info_header .ce_title{
	float: right;
}
.post_info_top.no_media .info{
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.post_info_top.no_media .post_info {
    text-align: right;
    padding-left: 0;
}
.news .item.small .post_info_header,
.news .item.small .post_info,
.news .item.medium .post_info_header,
.news .item.medium  .post_info,
.news .item.large .post_info_header,
.news .item.large .post_info,
.cws_ourteam.single .cws_ourteam_items,
.cws_portfolio.single .cws_portfolio_items .item .desc_part,
.footer_container .cws-widget .wpcf7,
.footer_container ul li,
.footer_container .select2-container{
	text-align: right;
}
.post_content_wrap .meta_cont .button_cont,
.cws_ourteam_filter_container{
	text-align: left;
}

.comments-area .comment_list .avatar_section{
	float: right;
}
.comments-area .comment_list .avatar_section + .comment_info_section{
	margin-left: 0;
	margin-right: 86px;
}
.comments-area .comments_children {
	padding-left: 0;
    padding-right: 85px;
}
.comments-area .comment_list .reply{
	float: left;
}
.comments-area .comment_list .comment-meta .comment_date {
    margin-left: 0;
}
ul.product_list_widget li a img{
	float: right;
	margin-left: 4px;
	margin-right: 0;
}
.cws-widget .product_list_widget>li>*{
	margin-right: 0;
	margin-left: 15px;
}
.cws-widget .product_list_widget>li>*:not(a):not(.star-rating){
	margin-left: 25px;
	margin-right: 70px;
}
.cws-widget .product_list_widget>li .remove {
    float: left;
    margin: 1px 5px 5px 0;
}
.pic .links_popup{
	opacity: 1;
	visibility: hidden;
}
.pic:hover .links_popup{
	opacity: 1;
	visibility: visible; 
}

.cws_fa_tbl .cws_fa_wrapper{
	margin-right: 0;
	margin-left: 20px;
}

.rtl .tt_event_items_list li {
    padding-right: 1.3em;
}

.cws_sc_carousel .owl-carousel,
.owl-carousel{
	margin-left: -30px !important;
	margin-right: 0 !important;
}
.cws_sc_carousel .owl-item .item,
.owl-item>*{
	margin-left: 30px !important;
    margin-right: 0 !important;
}
.gallery.owl-carousel .owl-controls {
    padding: 20px 0 20px 30px;
}
.bread-crumbs{
	text-align: left;
}
.footer_container .cws-widget .post_item,
.footer_container .cws-widget .post_item .post_date{
	text-align: right;
}

.item .date.def_style {
	float: right;
}
.news .grid-2 .item>*:not(.media_info_wrapper):not(.date):not(.separator-box), 
.news .grid-3 .item>*:not(.media_info_wrapper):not(.date):not(.separator-box) {
	padding-left: 0;
	padding-right: 60px;
}
.cws_portfolio_filter {
	float: left;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
	right: 0;
	left: auto;
	-webkit-transform: rotate(45deg) translate(28%,-50%);
    -moz-transform: rotate(45deg) translate(28%,-50%);
    -ms-transform: rotate(45deg) translate(28%,-50%);
	transform: rotate(45deg) translate(28%,-50%);
}
form.wpcf7-form>p {
    margin-left: 8px;
    margin-right: -8px;
}
.footer_container ul.product_list_widget li a img {
	margin-left: 8px;
	margin-right: 0;
}
.main-menu .bees>span {
	-webkit-backface-visibility: hidden;
}
.main-menu .bees.bees-end>span {
	-webkit-backface-visibility: visible;
}


@media screen and (max-width: 1190px){
	.gallery.owl-carousel .owl-controls {
    	padding: 20px 0 20px 20px;
	}
	.cws_sc_carousel .owl-carousel,
	.owl-carousel{
		margin-left: -20px !important;
		margin-right: 0 !important;
	}
	.cws_sc_carousel .owl-item .item,
	.owl-item>*{
		margin-left: 20px !important;
	}
	.grid {
		margin-left: -20px;
	}
	.grid .item {
		margin-left: 20px;
	}
	.news .grid .item.medium>*,
	.news .grid .item.small>*,
	.news.single .grid .item>*,
	.news .grid .item.medium .separator-box .separator,
	.news .grid .item.small .separator-box .separator,
	.news.single .grid .item .separator-box .separator{
		margin-left: 20px;
		margin-right: auto; 
	}
	.news .grid .item.medium .media_part,
	.news .grid .item.small .media_part,
	.news.single .grid .item .media_part{
		margin-left: 20px;
	}
}
@media screen and (max-width: 980px){
	.gallery.owl-carousel .owl-controls {
    	padding: 20px 0 20px 18px;
	}
	.cws_sc_carousel .owl-carousel,
	.owl-carousel{
		margin-left: -18px !important;
		margin-right: 0 !important;
	}
	.cws_sc_carousel .owl-item .item,
	.owl-item>*{
		margin-left: 18px !important;
	}
	.grid {
		margin-left: -18px;
	}
	.grid .item {
		margin-left: 18px;
	}
	.news .grid .item.medium>*,
	.news .grid .item.small>*,
	.news.single .grid .item>*,
	.news .grid .item.medium .separator-box .separator,
	.news .grid .item.small .separator-box .separator,
	.news.single .grid .item .separator-box .separator{
		margin-left: 18px;
		margin-right: auto; 
	}
	.news .grid .item.medium .media_part,
	.news .grid .item.small .media_part,
	.news.single .grid .item .media_part{
		margin-left: 18px;
	}
}
@media screen and (max-width: 767px){
	.gallery.owl-carousel .owl-controls {
    	padding: 20px 0 20px 30px;
	}
	.cws_sc_carousel .owl-carousel,
	.owl-carousel{
		margin-left: -30px !important;
		margin-right: 0 !important;
	}
	.cws_sc_carousel .owl-item .item,
	.owl-item>*{
		margin-left: 30px !important;
	}
	.grid.grid-2, 
	.page_content.single_sidebar .grid.grid-2, 
	.page_content.double_sidebar .grid.grid-2, 
	.grid.grid-3, 
	.page_content.single_sidebar .grid.grid-3, 
	.page_content.double_sidebar .grid.grid-3, 
	.grid.grid-4, 
	.page_content.single_sidebar .grid.grid-4, 
	.page_content.double_sidebar .grid.grid-4{
		margin-left: -30px;
		margin-right: 0;
	}
	.grid.grid-2 .item, 
	.page_content.single_sidebar .grid.grid-2 .item, 
	.page_content.double_sidebar .grid.grid-2 .item, 
	.grid.grid-3 .item, 
	.page_content.single_sidebar .grid.grid-3 .item, 
	.page_content.double_sidebar .grid.grid-3 .item, 
	.grid.grid-4 .item, 
	.page_content.single_sidebar .grid.grid-4 .item, 
	.page_content.double_sidebar .grid.grid-4 .item
	.grid .item {
		margin-right: 0;
		margin-left: 30px;
	}
	.comments-area .comments_children{
		padding-right: 35px;
	}
	.page_title .container>*{
		text-align: right;
	}
}
@media screen and (max-width: 479px){
	.gallery.owl-carousel .owl-controls {
    	padding: 20px 0 20px 0;
	}
	.cws_sc_carousel .owl-carousel,
	.owl-carousel{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.cws_sc_carousel .owl-item .item,
	.owl-item>*{
		width: 100% !important;
		margin-left: 0 !important;
    	margin-right: 0 !important;
	}
	.grid.grid-2, 
	.page_content.single_sidebar .grid.grid-2, 
	.page_content.double_sidebar .grid.grid-2, 
	.grid.grid-3, 
	.page_content.single_sidebar .grid.grid-3, 
	.page_content.double_sidebar .grid.grid-3, 
	.grid.grid-4, 
	.page_content.single_sidebar .grid.grid-4, 
	.page_content.double_sidebar .grid.grid-4 {
	    margin-right: auto;
	    margin-left: auto;
	}	
	.grid.grid-2 .item, 
	.page_content.single_sidebar .grid.grid-2 .item, 
	.page_content.double_sidebar .grid.grid-2 .item, 
	.grid.grid-3 .item, 
	.page_content.single_sidebar .grid.grid-3 .item, 
	.page_content.double_sidebar .grid.grid-3 .item, 
	.grid.grid-4 .item, 
	.page_content.single_sidebar .grid.grid-4 .item, 
	.page_content.double_sidebar .grid.grid-4 .item
	.grid .item {
		margin-right: 0;
		margin-left: 0;
	}
}
